.main {
	border-left: 15px solid #343434;
	border-top: 15px solid #343434;
	border-right: 15px solid #000000;
	border-bottom: 15px solid #000000;
	padding-left: 100px;
	min-height: calc(100vh - 30px);
	background: #FBFBFB;
	margin: 0px;
}

.centered {
	margin: 0;
	position: absolute;               
	top: 50%;                         
	transform: translate(0, -50%) 
}   

.h1 {
	font-family: 'Lora', serif;
	font-size: 36px;
	color: #000000;
	letter-spacing: 0;
	line-height: 40px;
	max-width: 350px;
}

.body {
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
	padding-top: 60px;
	line-height: 25px;
	max-width: 600px;
}

.note {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
}

#pentagram {
	color: red;
}

#h1bold {
	font-family: 'Lora';
	font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
	cursor: pointer;
}

#download {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
}

@media only screen and (max-device-width: 768px) {
	.main {
		border-left: 30px solid #343434;
		border-top: 30px solid #343434;
		border-right: 30px solid #000000;
		border-bottom: 30px solid #000000;		
		min-height: calc(100vh - 60px);

	}

	.h1 {
		font-size: 56px;
		line-height: 60px;
		max-width: 700px;
	}

	.body {
		font-size: 32px;
		line-height: 40px;
	}

	.note {
		font-size: 32px;
		line-height: 40px;
	}
}


@media only screen and (max-device-width: 450px) {
	.main {
		border-left: 30px solid #343434;
		border-top: 30px solid #343434;
		border-right: 30px solid #000000;
		border-bottom: 30px solid #000000;		
		min-height: calc(100vh - 60px);

	}

	.h1 {
		font-size: 72px;
		line-height: 80px;
		max-width: 700px;
	}

	.body {
		font-size: 40px;
		line-height: 48px;
	}

	.note {
		font-size: 40px;
		line-height: 48px;
	}
}

