.main {
	border: 15px solid #000000;
	padding-left: 100px;
	height: 96.5vh;
	background: #FBFBFB;
}

.centered {
	margin: 0;
	position: absolute;               
	top: 50%;                         
	transform: translate(0, -50%) 
}   

.h1 {
	font-family: 'Lora', serif;
	font-size: 36px;
	color: #000000;
	letter-spacing: 0;
	line-height: 40px;
	max-width: 350px;
}

.body {
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
	padding-top: 60px;
	line-height: 20px;
	max-width: 540px;
}

.note {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
}

#pentagram {
	color: #F2122D;
}

#h1bold {
	font-family: 'Lora-bold', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
	cursor: pointer;
}

#download {
	font-family: 'Lora-bolditalic', serif;
}

@media only screen and (max-width : 600px) {
	.main{
	padding-left: 30px;
	}

	.body{
		padding-top: 30px;
		max-width: 300px;
	}
}

@media only screen and (max-width : 375px) {
	.h1{
		max-width: 200px;
	}

	.body{
		max-width: 200px;
	}
}